/* .App {
  margin: auto;
  width: 50%;
}

.myForm {
  width: 100%;
  background-color: grey;
  border-radius: 5px;
  padding: 20px;
}

.formField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


.mybutton {
  width: 100%;
  background-color: #00b894;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#btn {
  width: 100%;
  background-color: #00b894;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#btn2 {
  background-color: #00b894;
  border-color: grey;
  color: #ffffff;
}

li {
  list-style: none;
}

.lists {
  width: 500px;
}

.right-align {
  width: 80%;
}

.left-align {
  position: absolute;
  right: 22%;
  padding-top: 5px;
  padding-bottom: 5px;
}



.one {
  margin: 7px;
}

body {
  background: #00b8ff6b;
} */


.topbar {
  background: #000;
  color: #fff;
  height: 64px;
}

.store {
  color: red;
}

.store-text {
  font-size: 40px;
  display: flex;
  box-sizing: border-box;
  padding: 9px 16px;
  width: 20%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.topbar {
  display: flex;
  margin-bottom: 6%;
}
.nav1 {
  width:31%;
  /* align-content:center;
  margin-left: auto;
  margin-right: auto; */
}

#navBtn {
  outline: 0;
  font-size: 20px;
  margin-left: 50px;
  color: #fff;
  background-color: black;
  border: black;
  margin-top: 20px;
}

.inputtop {
  height: 45px;
  box-sizing: border-box;
  border: 0 solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  background-image: url(https://cdn4.iconfinder.com/data/icons/marketing-32/512/Search-512.png);
  background-size: 40px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 30px;
  transition: width .4s ease-in-out;
  margin-top: 0.8%;
  /* margin: auto; */
  display: block;
  margin-left: 6%;
}

@media only screen and (min-width: 1024px) {
  .inputtop {
    width: 300px;
  }
}

.button1 {
  width: 90px;
  height: 45px;
  outline: 0;
  background: #fff;
  color: #000;
  border: #fff;
}

#btn1 {
  background-color: #fff;
  border: #fff;
  margin: 10px;
  border-radius: 4px;
}

.animated {
  display: none;
}

.carousel .slide img {
  height: 400px;
}

.center {
  text-align: center;
}


.num1 {
  border-radius:10px; border: 1px black solid; overflow: hidden;
}

.num {
  background-color: red;
  color: #fff;
  border-radius: 10px;
  border: 1px;
}

.footer {
  background-color: black;
  color: #fff;
  padding: 2%;
}

.footer p , .footer h5 {
  text-align: center;
}

.footer p {
  font-size: 11px;
}

html {
  background-color: black;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.subdiv {
   border:1px solid black;
}

.sub {
  display: block; 
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff;
}

.subinput {
  display: block; 
  margin: 0 auto;
  width: 150px;
}

.expandmore {
  background-color: #ffffff;
  border: #fff;
}